@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-content {
    background-color: transparent;
    width: 50px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}
  