@tailwind base;
@tailwind components;
@tailwind utilities;

.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-content {
    background: rgb(255, 255, 255);
    border-radius: 10px;
    animation: fadeIn 0.5s ease-in;
    width: 80%;
    max-width: 500px;
    padding: 20px;
}
  